html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
  color: #1a1a1a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

// blue -> green -> yellow -> red
// #6b8ce9 // blue
// #75b671 // green
// #f3c500 // yellow
// #f24810 // orange
// #1a1a1a // not black
